*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-image: url(../images/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-div{
    display: inline-block;
    margin: auto;
}
#header{
    display: inline;
}
#nav{
    position: absolute;
    top: 0;
    left: 34%;
}
#logo{
    position: absolute;
    top: 0;
    left: 0;
}
#logo a img{
    width: 70px;
}
#btns{
    position: absolute;
    top: 0;
    right: 0;
    margin: 13px 19px;
}
#btns button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    margin: 5px 3px;
    border-radius: 7px;
    padding: 4px 7px;
}
#btns button:hover{
    cursor: pointer;
    color: grey;
    border: 2px solid grey;
}
#nav ul li{
    list-style-type: none;
    float: left;
    position: relative;
    margin: 18px 15px;
}

#nav ul li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: grey;
    transition: .2s ease;
}
#nav ul li:hover:before{
    width: 100%;
}
#nav ul li a{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all .3s;
}
#nav ul li a:hover{
    color: grey;
}
.details{
    position: relative;
    margin: 120px 0;
    left: 10%;
    height: 500px;
    width: 400px;
    border: 3px solid black;
    border-radius: 9px;
    padding: 20px 20px;
}
.details h3{
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    color: #000;
}
.details form{
    width: 100%;
}
.details label{
    width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0;
}
.details input{
    height: 35px;
    padding: 10px;
    width: 90%;
    border: 2px solid black;
    border-radius: 9px;
    outline: none;
}
#genderr{
    
    text-align: center;
    font-size: 20px;
}
#genderr label{
    display: inline;
    margin-left: 15px;
}
input::placeholder{
    color: black;
}
#genderr label input{
    width: 30px;
    position: relative;
    top: 10px;
}
#submit{
    font-size: 20px;
    padding: 4px;
}