*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* #3b4354 */
.header{
    display: grid;
    grid-template-areas: 
    'logo navbar navbar navbar navbar navbar login';
    background-color: rgb(255 131 106);
    background: none;
}
.container{
    height: 100vh;
    width: 100%;
}
.container::before{
    content: '';
    position: absolute;
    bottom: 0rem;
    height: 12rem;
    width: 100%;
    z-index: 100;
}
.container-light::before{
    background: linear-gradient(to top, rgb(34 38 42), transparent);
}
.container-dark::before{
    background: linear-gradient(to top, #101520, transparent);
}
.controls{
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 0;
    /* background-color: white; */
    text-align: right;
    cursor: pointer;
}
.controls span{
    display: block;
}
.logo{
    grid-area: logo;
}
.navbar{
    grid-area: navbar;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: login;
}
.login .btn{
    font-size: 1.5rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: .02rem .8rem;
    cursor: pointer;
}
.logo img{
    height: 4rem;
    cursor: pointer;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    list-style-type: none;
    margin: 0 2rem;
    position: relative;
}
.navbar ul li::before{
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: .5s ease-out;
    margin-top: 13px;
}
.navbar ul li:hover:before{
    width: 100%;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
video{
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.projects{
    padding: 10rem 2rem;
    color: white;
}
.projects-light{
    background-color: rgb(34 38 42);
}
/* rgb(51 48 58) */
.projects-dark{
    background-color: #101520;
}
.projects h1{
    font-size: 3rem;
    margin: 1rem 0;
    color: #ff9a77;
}