body {
  font-family: monospace;
  margin: 0;
  box-sizing: border-box;
  background-image: url(https://images.unsplash.com/photo-1517483000871-1dbf64a6e1c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.website-name h1{
  font-size: 6.5rem;
}
.user-icon span{
  margin: 0;
  margin-right: 20px;
  transform: scale(1.6);
  transition: .3s;
  color: white;
}
.user-icon span:hover{
  cursor: pointer;
  transform: scale(1.8);
}
span {
  font-size: 2.5rem;
}
.website-name {
  height: 15vw;
  font-size: 4rem;
  background-color: rgba(7, 7, 7, 0.986);
  color: white;
  display: flex;
  justify-content: center;
  gap: 4rem;
  letter-spacing: 3px;
  align-items: center;
  overflow: hidden;
}
.navbar {
  overflow: hidden;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropbtn{
    position: relative;
    width: 100%;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  padding: 14px 15px;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
  /* border-radius: 13px; */
  transition: .5s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    transition: .5s ease;
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#blue-line p {
  background-color: rgb(154, 154, 255);
  text-align: center;
  margin: 0;
}
.containor {
  background-color: rgb(73, 73, 73);
  margin: 32px;
  border-radius: 12px;
  padding: 20px;
}
.flexx {
  display: flex;
  justify-content: space-between;
}
h2 {
  color: orange;
  font-size: 20px;
}
h2:hover {
  text-shadow: 2px 2px 10px orange;
  cursor: pointer;
  font-size: 20.2px;
}
img {
  border-radius: 12px;
  height: 450px;
}
.Voting-section {
  height: 559.6px;
  width: 550px;
}
#current-vote {
  margin: 50px 0 0 0;
  font-size: 2.3rem;
}
.vote-count {
  font-size: 3.5rem;
  margin: 30px 0 30px 0;
}
.vote-bar {
  width: 480px;
  height: 27px;
  border-radius: 13px;
  background-color: white;
  margin-bottom: 50px;
}
.vote-progress {
  height: 27px;
  background-color: orange;
  width: 295.2px;
  border-radius: 13px;
}
button {
  background-color: transparent;
  border: none;
  position: relative;
  width: 43%;
}
a {
  text-decoration: none;
  color: black;
}
.fancy {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: orange;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}
.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}
.fancy .text {
  font-size: 1.525em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: orange;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}
.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: orange;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: orange;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: orange;
  background: black;
}
.website-name img{
  height: 316px;
}
.fancy:hover::before {
  width: 0.9375rem;
  background: orange;
}

.fancy:hover .text {
  color: orange;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
.total-votes {
  font-size: 2rem;
  margin-top: 60px;
}