*{
    margin: 0;padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
}
.containor{
    position: relative;
    border-radius: 8px;
    height: 75%;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px black;
}
.info{
    background-image: linear-gradient(to right, orange,rgb(234, 39, 130),red);
    height: 100%;
    width: 50%;
    font-family: cursive;
    border-radius: 0 8px 8px 0;
}
.login{
    border-radius: 8px 0 0 8px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
img{
    height: 150px;
}
.email ,.password ,.form{
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
input[type="email"]:focus,
input[type="password"]:focus{
    border-bottom: 2px solid rgb(52, 9, 246);
}
form{
    width: 80%;
}
.form{
    width: 100%;
}
.email input,.password input{
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    transition: 0.5s;
}
label[for="checkbox"]:hover,#checkbox:hover{
    cursor: pointer;
}
.remember{
    display: inline-block;
    margin-top: 30px;
    width: 80%;
}
button{
    margin-top: 20px;
    width: 80%;
    padding: 4px 0 6px 0px;
    border-radius: 20px;
    border: none;
    background-color: rgb(50, 197, 246);
    font-size: 20px;
    color: white;
    transition: .5s ease-in-out;
}
button:hover{
    background-color: rgb(47, 144, 241);
    box-shadow: .1px .1px 3px black;
    letter-spacing: 1px;
    cursor: pointer;
}
.create{
    margin-top: 40px;
    width: 80%;
}
a{
    margin-left: 75px;
    text-decoration: none;
}

a:hover{
    color: rgb(160, 1, 223);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    color: white;
    gap:2rem;
}
.info h2{
    font-size: 2rem;
}
.info a span{
    height: 20px;
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    margin: 8px 8px 0 0;
    padding: 2px;
}
.info a span:focus{
    transform: scale(.9);
}
.info a span:hover{
    /* border: 2px solid rgba(0, 0, 0, 0.933); */
    transform: scale(1.1);
}
.info h2+p{
    position: relative;
    top: -30px;
    letter-spacing: 3px;
}
.info p{
    text-align:center;
}